
.box-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-image: url('./wallzx2ww.jpg');
    background-position: center;
    background-size: cover;
}


body {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    width: 100vw;
    height: 8rem;
    /* background-color: #ee8e8e; */
    display: flex;
    box-shadow:
        2px 2.1px 2.8px rgba(0, 0, 0, 0.02),
        4.7px 5.1px 6.8px rgba(0, 0, 0, 0.028),
        8.9px 9.5px 12.8px rgba(0, 0, 0, 0.035),
        15.9px 17px 22.8px rgba(0, 0, 0, 0.042),
        29.7px 31.8px 42.6px rgba(0, 0, 0, 0.05),
        71px 76px 102px rgba(0, 0, 0, 0.07);
}

.logo-container {
    width: 50%;
    padding: 1rem;
}

.nav-links {
    width: 50%;
    display: flex;
    padding: 1rem;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    border: 1px;color: #000000;
}


.form-container {
    height: 80vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    color: white;
    height: 40vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
}

.input-field {
    width: 70%;
    padding: 1rem;
    outline: 0px;
    border: 0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: white
    
}

.input-field:focus {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.input-btn {
    width: 75%;
    color: #000000;
    border: none;
    outline: none;
    padding: 1rem;
    font-weight: bold;
}

a {
    text-decoration: none;
}


